// 通用性設定
// 顏色
$primary_color: #f4f2e6;
$secondary_color: #6accbf;

// 排版置中flex
@mixin flex($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

// 長寬設定
@mixin size($width, $height) {
    width: $width;
    height: $height;
}

// position top_left
@mixin position($top, $left, $x, $y) {
    position: absolute;
    top: $top;
    left: $left;
    transform: translate($x, $y);
}

// 排版置中position
@mixin position_center() {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

* {
    a {
        cursor: url("../pics/APmouse2.svg"), auto;
    }

    button {
        cursor: url("../pics/APmouse2.svg"), auto !important;
    }
}

body {
    background: $primary_color;
    cursor: url("../pics/APmouse.svg"), auto;

    // scrollbar更改設計實驗
    &::-webkit-scrollbar {
        width: 20px;
    }

    &::-webkit-scrollbar-track {
        background-image: linear-gradient(#afdfd3, #fffdf0, #afdfd3);
    }

    &::-webkit-scrollbar-thumb {
        background-color: #009959;
        border-radius: 50px;

        &:hover {
            background-image: linear-gradient(#e94619, #ffea00);
        }
    }
}

/*  蓋住畫面的底色色塊  */
#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    background-color: #6accbf;
    z-index: 9999;

    /* loading的gif坐標*/
    #status {
        position: fixed;
        margin: 0 auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        p {
            color: #ffffff;
            font-size: 40px;
            letter-spacing: 5px;
            text-align: center;
        }
    }
}

// 頁首固定在視窗上方
#header {
    z-index: 100;
    top: 0;
    position: sticky;
    height: 109px;
    background: #6accbf;
    display: flex;

    nav {
        width: 100%;
        position: relative;

        .img {
            position: static;

            @media (max-width: 768px) {
                background-image: unset;
                height: unset;
            }

            .logo {
                @include size(140px, 140px);
                @include position(15px, 125px, 0, 0);
                border-radius: 50%;
                background-color: #6accbf;
                z-index: 5;

                @media (max-width: 768px) {
                    @include size(100px, 100px);
                    @include position(35px, 60px, 0, 0);
                }
            }

            .logo_img {
                width: 100px;
                @include size(125px, 125px);
                @include position(50%, 50%, -50%, -50%);
                border-radius: 50%;

                @media (max-width: 768px) {
                    @include size(85px, 85px);
                }
            }

            // 導覽列上的文字連結，品牌故事、商品介紹、門市據點、意見回饋
            .nav_content {
                @media (max-width: 910px) {
                    @include position(50%, 70%, -50%, -50%);
                }

                @media (max-width: 768px) {
                    display: none;
                }

                @include position(50%, 75%, -50%, -50%);
                position: absolute;
                display: flex;

                ul {
                    display: flex;

                    li {
                        a {
                            font-size: 24px;
                            color: #ffffff;
                            text-decoration: none;
                            margin-right: 30px;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }

    // 折疊下拉巢狀選單
    .burger_link {
        display: none;
        @include size(60px, 60px);

        @media (max-width: 768px) {
            display: block;
        }

        @media (max-width: 576px) {
            margin: 40px 0 0 80%;
            @include size(80px, 80px);
        }

        margin: 30px 0 0 85%;
        position: relative;

        * {
            transition: 0.5s;
        }

        ul,
        li {
            margin-bottom: 25px;
        }

        .burger {
            @include size(60px, 60px);
            background-color: #6accbf;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 5px solid #f4bd72;
            cursor: url("../pics/APmouse2.svg"), auto;

            .line {
                height: 3px;
                width: 20px;
                background-color: white;
                margin: 5px;
            }
        }

        #burger:checked+.list {
            padding: 30px;
            height: 500px;
        }

        .list {
            @media (max-width: 576px) {
                top: 68px;
            }

            position: absolute;
            left: -290px;
            top: 76px;
            padding: 0px 30px;
            width: 400px;
            height: 0px;
            overflow: hidden;
            background-color: #f4bd72;
            border-radius: 0px 0px 20px 20px;

            #commodity:checked+.commodity-box {
                height: 180px;
            }

            label,
            a {
                border-radius: 10px;
                padding: 10px 5px;
                display: block;
                text-decoration: none;
                color: white;
            }

            .list-project {
                margin: 5px 0px;
                padding: 5px 10px;
                background-color: #6accbf;
                border: 3px solid white;
                font-size: 30px;
                color: white;
                cursor: url("../pics/APmouse2.svg"), auto;

                &:hover {
                    background-color: white;
                    border: 6px solid #6accbf;
                    color: #6accbf;
                    font-weight: 600;
                }
            }

            .commodity-box {
                width: 100%;
            }

            .commodity-box,
            .commodity_test_box {
                text-align: end;
                width: 100%;
                height: 0;
                overflow: hidden;
                font-size: 30px;
                background-color: #f4bd72;
            }

            // 陰影特效
            .commodity-list {
                @include flex(center, center);
                margin: 5px;
                font-weight: 600;

                &:hover {
                    text-shadow: 0 5px 5px black;
                    margin: 10px;
                }
            }
        }
    }
}

#main {
    #top_img {
        background-image: url("../pics/top_img.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vw;
    }

    // 最新消息
    #news {
        @include size(80%, unset);
        position: relative;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0 auto;
        padding-top: 100px;

        .news_title {
            color: #2fbfac;
            font-size: 40px;

            @media (max-width: 768px) {
                font-size: 35px;
            }
        }

        .swiper {
            @include size(100%, 80%);
        }

        .swiper::before {
            @include size(100%, 3px);
            content: "";
            display: block;
            background-color: #ffad3d;
            margin: 20px auto;
        }

        .swiper-slide {
            height: 500px;

            @media (max-width: 768px) {
                height: 300px;
            }

            text-align: center;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        #noticias {
            padding: 5% 0;
            background-image: url("../pics/index/bubbleback.png");
            background-position: 50% 100%;
            background-repeat: no-repeat;
            background-size: 70%;

            .noticia {
                padding: 1% 0;

                .title_of_noticia {
                    font-size: 24px;

                    @media (max-width: 768px) {
                        font-size: 20px;
                    }

                    .noticia-word {
                        color: #000;
                    }
                }

                .time {
                    font-size: 20px;
                    color: #6c6c6c;
                    letter-spacing: 5px;
                    margin-top: 15px;

                    @media (max-width: 768px) {
                        font-size: 15px;
                    }
                }
            }
            @media (max-width: 1400px) {
                background-position: 50% 50%;

            }
        }
    }

    // 人氣餐點
    #meal_card {
        @include size(100%, unset);
        margin: 0 auto;

        .meal_swiper {
            @include size(100%, 100%);
            background-image: url("../pics/index/Group\ 399.png");
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            margin: 0 auto;
            padding: 5%;

            .meal_title {
                font-size: 48px;
                color: #ffffff;
            }

            .meal_text {
                font-size: 24px;
                color: #ffffff;
                margin: 20px auto;
            }

            .meal_text::after {
                @include size(100%, 2px);
                content: "";
                display: block;
                background-color: #000000;
                margin: 20px auto;
            }

            //  卡片區
            .card {
                padding: 10px;

                .swiper-wrapper {
                    @include size(80%, 50%);

                    .swiper-slide {
                        flex-wrap: wrap;
                        text-align: center;
                        font-size: 18px;
                        background: #fff;
                        /* Center slide text vertically */
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        -webkit-justify-content: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        -webkit-align-items: center;
                        align-items: center;
                    }
                }

                .swiper-slide {
                    background-size: cover;
                    background-position: center;
                }

                .swiper-wrapper {
                    display: flex;
                }

                .mySwiper2 {
                    position: relative;
                    width: 50%;

                    @media(max-width:1430px) {
                        width: 80%;
                    }

                    @media(max-width:768px) {
                        width: 100%;
                    }

                    .swiper-slide {
                        background: transparent;

                        img {
                            border-radius: 10%;
                            @include size(100%, 100%);
                            display: block;
                            object-fit: cover;
                        }

                        .bg-text {
                            @include flex(center, center);
                            border-radius: 10%;
                            padding: 100px;
                            position: absolute;
                            @include size(100%, 100%);
                            background-color: rgba(105, 105, 105, 0.8);
                            color: white;

                            h3 {
                                font-size: 32px;
                            }

                            .text {
                                li {
                                    margin-bottom: 10%;
                                    font-size: 32px;

                                    @media(max-width:1300px) {
                                        font-size: 24px;
                                    }

                                    @media(max-width:576px) {
                                        white-space: nowrap;
                                    }
                                }

                                .story {
                                    @media(max-width:576px) {
                                        display: none;
                                    }
                                }
                            }
                        }

                        &:hover .bg-text {
                            display: none;
                        }
                    }
                }

                .mySwiper1 {
                    overflow: unset;
                    @include size(70%, 70%);

                    .swiper-slide {
                        padding: 10px 125px 0 0;
                        width: 100%;
                        position: relative;
                        border-radius: 8%;
                        display: flex;
                        flex-direction: column;
                        background: transparent;

                        img {
                            width: 25vw;

                            @media(max-width:768px) {
                                width: 40vw;
                            }
                        }

                        .text {
                            top: 0;
                            left: 0;
                            position: absolute;
                            white-space: nowrap;
                            padding: 7% 0;
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }

    // 評價區
    #evaluation-area {
        // 至中區塊
        padding: 50px 10%;
        background-color: #F4F2E6;

        // 評價標題
        .evaluation {
            border-bottom: 3px solid #E3952A;
            margin-bottom: 30px;

            h2 {
                color: #2FBFAC;
                font-weight: 800;
                font-size: 40px;
                padding-bottom: 15px;
            }

            p {
                font-size: 20px;
                font-weight: 600;
                padding-bottom: 20px;
            }
        }

        // swiper區

        #swiper {
            .swiper {
                .swiper-wrapper {
                    padding-bottom: 60px;
                    align-items: center;

                    .swiper-slide {

                        // img {
                        //   display: block;
                        //   width: 100%;
                        //   height: 100%;
                        //   object-fit: cover;
                        //   border-radius: 20px;
                        //   border: 2px solid rgb(134, 134, 134);
                        // }

                        .user-chat-box {
                            background-color: white;
                            border-radius: calc(10px + ((100vw / 100) * 2));
                            padding: calc((100vw / 30) * 2) 0px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .user-name {
                                width: calc((100vw / 100)*20);
                                height: calc((100vw / 100)*20);
                                background-color: #E3952A;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 50%;

                                p {
                                    font-size: calc((100vw / 20) * 2);
                                    font-weight: 800;
                                    color: white;
                                }

                            }

                            .word-box {
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                .user-word {
                                    width: calc((100vw / 5) * 2);
                                    padding-left: calc(10px + ((100vw / 100) * 2));
                                    font-size: calc(0px + ((100vw / 100) * 2));
                                    font-weight: 800;
                                    // text-align: justify;

                                    .star-img {
                                        padding: calc(0px + ((100vw / 100) * 1)) 0px;

                                    }
                                }
                            }

                        }
                    }
                }


                .swiper-pagination {

                    // 圓點設定
                    span {
                        width: calc(5px + (100vw / 70));
                        height: calc(5px + (100vw / 70));
                        background-color: #FEAD3B;
                        margin: 0px 5px;
                        cursor: url("../pics/APmouse2.svg"), auto !important;


                    }

                }

                .swiper-button-next {
                    height: 0px;

                    &::after {
                        font-size: calc(20px + ((100vw / 90) * 2));
                        // font-size: calc((100vw / 50) * 2);
                        color: #2fbfac;
                        cursor: url("../pics/APmouse2.svg"), auto;
                    }
                }

                .swiper-button-prev {
                    height: 0px;

                    &::after {
                        font-size: calc(20px + ((100vw / 90) * 2));
                        // font-size: calc((100vw / 50) * 2);
                        color: #2fbfac;
                        cursor: url("../pics/APmouse2.svg"), auto;
                    }
                }
            }


        }

    }

    // 社群回饋
    #social_feedback {
        @include size(80%, unset);
        margin: 0 auto;

        .social_feedback_title {
            color: #2fbfac;
            font-size: 40px;

            @media (max-width: 768px) {
                font-size: 35px;
            }
        }

        .social_feedback_title::after {
            content: "最美味的餐點，值得你來品嚐";
            display: block;
            font-size: 24px;
            color: #000;
            border-bottom: 2px solid #ffad3d;
            margin: 20px 0;
            padding-bottom: 20px;
        }

        // 每則貼文
        .post {
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            max-width: 1303px;
            margin: 0 auto;

            .inner_post {
                margin-bottom: 30px;
            }

            .sec_post {
                @media (max-width:768px) {
                    display: none;
                }
            }
        }
    }
}

// 頁尾
#footer {
    height: 220px;
    background: $primary_color;
    background-image: url("../pics/wave.png");

    @media (max-width: 768px) {
        height: 250px;
        background-image: url("../pics/wave_md.png");
    }

    @media (max-width: 576px) {
        background-image: url("../pics/wave_sm.png");
    }

    @media (max-width: 425px) {
        background-image: url("../pics/wave_ssm.png");
        height: 210px;
    }

    background-size: cover;
    // max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;

    // 頁尾的內容部分
    .footer_content {

        // 頁尾波浪型裝飾
        .wave {
            max-width: 1600px;
        }
    }

    // logo跟頁尾連結
    .logo {
        width: 100px;
    }

    .logo_and_links {
        @media (max-width: 768px) {
            padding: 0px 60px;
        }

        @media (max-width: 425px) {
            padding: 10px 30px;
        }

        @include position_center();
        background: $secondary_color;
        padding: 10px 60px;
        width: 100%;
        // flex分散
        @include flex(space-between, center);

        .links_group {
            // flex置中
            @include flex(center, center);
            flex-wrap: wrap;

            // 頁尾的各項連結，顧客權益、聯絡我們、意見回饋、粉專頁等
            .link {
                @include flex(center, center);

                @media (max-width: 768px) {
                    width: 50%;
                    margin: 10px;
                }

                @media (max-width: 425px) {
                    margin: 5px;
                }

                padding: 0 15px;

                a {
                    @media (max-width: 576px) {
                        font-size: 20px;
                    }

                    color: white;
                    font-weight: bold;
                    font-size: 24px;
                    white-space: nowrap;
                }
            }
        }
    }

    .company_and_phone {
        @media (max-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            bottom: -100px;

            p {
                display: block;
                text-align: center;
                width: 100%;
                padding: 5px;
            }
        }

        @include flex(space-between, center);
        width: 100%;
        padding: 20px 16px;
        position: absolute;
        left: 0;
        bottom: 0;

        p {
            font-size: 24px;
        }
    }

    .go_to_top {
        right: 10px;
        top: 100px;
        position: absolute;
    }
}
