* a {
  cursor: url("../pics/APmouse2.svg"), auto;
}

* button {
  cursor: url("../pics/APmouse2.svg"), auto !important;
}

body {
  background: #f4f2e6;
  background-image: url("../pics/right_of_customer/bkgd.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: url("../pics/APmouse.svg"), auto;
}

body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-track {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#afdfd3), color-stop(#fffdf0), to(#afdfd3));
  background-image: linear-gradient(#afdfd3, #fffdf0, #afdfd3);
}

body::-webkit-scrollbar-thumb {
  background-color: #009959;
  border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e94619), to(#ffea00));
  background-image: linear-gradient(#e94619, #ffea00);
}

#header {
  z-index: 100;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  height: 109px;
  background: #6accbf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header nav {
  width: 100%;
  position: relative;
}

#header nav .logo {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 15px;
  left: 125px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  border-radius: 50%;
  background-color: #6accbf;
}

@media (max-width: 768px) {
  #header nav .logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 35px;
    left: 60px;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

#header nav .logo_img {
  width: 100px;
  width: 125px;
  height: 125px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

@media (max-width: 768px) {
  #header nav .logo_img {
    width: 85px;
    height: 85px;
  }
}

#header nav .nav_content {
  position: absolute;
  top: 50%;
  left: 75%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 910px) {
  #header nav .nav_content {
    position: absolute;
    top: 50%;
    left: 70%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (max-width: 768px) {
  #header nav .nav_content {
    display: none;
  }
}

#header nav .nav_content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header nav .nav_content ul li a {
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  margin-right: 30px;
  white-space: nowrap;
}

#header .burger_link {
  display: none;
  width: 60px;
  height: 60px;
  margin: 30px 0 0 85%;
  position: relative;
}

@media (max-width: 768px) {
  #header .burger_link {
    display: block;
  }
}

@media (max-width: 576px) {
  #header .burger_link {
    margin: 40px 0 0 80%;
    width: 80px;
    height: 80px;
  }
}

#header .burger_link * {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#header .burger_link ul,
#header .burger_link li {
  margin-bottom: 25px;
}

#header .burger_link .burger {
  width: 60px;
  height: 60px;
  background-color: #6accbf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px solid #f4bd72;
  cursor: url("../pics/APmouse2.svg"), auto;
}

#header .burger_link .burger .line {
  height: 3px;
  width: 20px;
  background-color: white;
  margin: 5px;
}

#header .burger_link #burger:checked + .list {
  padding: 30px;
  height: 500px;
}

#header .burger_link .list {
  position: absolute;
  left: -290px;
  top: 76px;
  padding: 0px 30px;
  width: 400px;
  height: 0px;
  overflow: hidden;
  background-color: #f4bd72;
  border-radius: 0px 0px 20px 20px;
}

@media (max-width: 576px) {
  #header .burger_link .list {
    top: 68px;
  }
}

#header .burger_link .list #commodity:checked + .commodity-box {
  height: 180px;
}

#header .burger_link .list label,
#header .burger_link .list a {
  border-radius: 10px;
  padding: 10px 5px;
  display: block;
  text-decoration: none;
  color: white;
}

#header .burger_link .list .list-project {
  margin: 5px 0px;
  padding: 5px 10px;
  background-color: #6accbf;
  border: 3px solid white;
  font-size: 30px;
  color: white;
  cursor: url("../pics/APmouse2.svg"), auto;
}

#header .burger_link .list .list-project:hover {
  background-color: white;
  border: 6px solid #6accbf;
  color: #6accbf;
  font-weight: 600;
}

#header .burger_link .list .commodity-box {
  width: 100%;
}

#header .burger_link .list .commodity-box, #header .burger_link .list .commodity_test_box {
  text-align: end;
  width: 100%;
  height: 0;
  overflow: hidden;
  font-size: 30px;
  background-color: #f4bd72;
}

#header .burger_link .list .commodity-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  font-weight: 600;
}

#header .burger_link .list .commodity-list:hover {
  text-shadow: 0 5px 5px black;
  margin: 10px;
}

.right_of_customer {
  width: 80%;
  background-color: #ffffff;
  border-radius: 20px;
  opacity: 70%;
  margin: 10% auto;
  padding: 3%;
  position: relative;
}

.right_of_customer .text_color {
  letter-spacing: 10px;
  line-height: 30px;
}

.right_of_customer .right_of_inner_title {
  width: 100%;
  font-size: 36px;
  text-align: center;
  padding: 2%;
}

@media (max-width: 768px) {
  .right_of_customer .right_of_inner_title {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .right_of_customer .right_of_inner_title {
    font-size: 25px;
  }
}

.right_of_customer .right_of_inner_title::before {
  content: " 2020 / 05 / 10 ";
  display: block;
  font-size: 24px;
  padding: 0 0 32px 0;
  color: #727272;
}

@media (max-width: 768px) {
  .right_of_customer .right_of_inner_title::before {
    font-size: 15px;
    padding: 0 0 10px 0;
  }
}

@media (max-width: 500px) {
  .right_of_customer .right_of_inner_title::before {
    font-size: 12px;
  }
}

.right_of_customer .line::before {
  content: " ";
  display: block;
  width: 100%;
  border-top: 2px solid black;
  padding: 2% 0;
}

.right_of_customer .right_of_inner_text_title {
  font-size: 20px;
  font-weight: bold;
  padding: 3% 0 2% 0;
}

@media (max-width: 768px) {
  .right_of_customer .right_of_inner_text_title {
    font-size: 17px;
    padding: 2% 0 1% 0;
  }
}

.right_of_customer .right_of_inner_text {
  font-size: 20px;
}

@media (max-width: 768px) {
  .right_of_customer .right_of_inner_text {
    font-size: 15px;
  }
}

#footer {
  height: 220px;
  background-image: url("../pics/wave.png");
  background-size: cover;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media (max-width: 768px) {
  #footer {
    height: 250px;
    background-image: url("../pics/wave_md.png");
  }
}

@media (max-width: 576px) {
  #footer {
    background-image: url("../pics/wave_sm.png");
  }
}

@media (max-width: 425px) {
  #footer {
    background-image: url("../pics/wave_ssm.png");
    height: 210px;
  }
}

#footer .footer_content .wave {
  max-width: 1600px;
}

#footer .logo {
  width: 100px;
}

#footer .logo_and_links {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background: #6accbf;
  padding: 10px 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  #footer .logo_and_links {
    padding: 0px 60px;
  }
}

@media (max-width: 425px) {
  #footer .logo_and_links {
    padding: 10px 30px;
  }
}

#footer .logo_and_links .links_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer .logo_and_links .links_group .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

@media (max-width: 768px) {
  #footer .logo_and_links .links_group .link {
    width: 50%;
    margin: 10px;
  }
}

@media (max-width: 425px) {
  #footer .logo_and_links .links_group .link {
    margin: 5px;
  }
}

#footer .logo_and_links .links_group .link a {
  color: white;
  font-weight: bold;
  font-size: 24px;
  white-space: nowrap;
}

@media (max-width: 576px) {
  #footer .logo_and_links .links_group .link a {
    font-size: 20px;
  }
}

#footer .company_and_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 20px 16px;
  position: absolute;
  left: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  #footer .company_and_phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    bottom: -100px;
  }
  #footer .company_and_phone p {
    display: block;
    text-align: center;
    width: 100%;
    padding: 5px;
  }
}

#footer .company_and_phone p {
  font-size: 24px;
}

#footer .go_to_top {
  right: 10px;
  top: 100px;
  position: absolute;
}
/*# sourceMappingURL=right_of_customer.css.map */